
<div class="hotale-page-wrapper" id="hotale-page-wrapper">

    <div class="gdlr-core-page-builder-body">
        <div class="main-grid">
        <div class="gdlr-core-pbf-sidebar-wrapper gdlr-core-sticky-sidebar gdlr-core-js" id="gdlr-core-sidebar-wrapper-1">
            <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-45 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left">
                    <div class="gdlr-core-pbf-sidebar-content-inner">
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <!-- <div class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr">
                                            <div *ngIf="globalService.selectedRoom" class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-round" 
                                            style="border-width: 0px; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;">
                                           <img src="{{globalService.selectedRoom.images[0] || 'upload/default-image.jpg'}}"
                                                alt=""
                                               
                                                width="1150"
                                                height="490"
                                                title="christopher-jolly-GqbU78bdJFM-unsplash"
                                           />
                                       </div>
                                        </div> -->

                                        <!-- <div *ngFor="let img of globalService.selectedRoom?.images; let i = index">
                                            <img [src]="img" (click)="openLightbox(i)">
                                          </div> -->
                                <!-- En tu template (room-detail.component.html) -->
                                        <!-- Sección Principal de Imagen -->
                                        <div class="image-section">
                                            <div class="image-container" 
                                                *ngIf="globalService.selectedRoom && globalService.selectedRoom.images?.length"
                                                (click)="openLightbox(0)"
                                                role="button"
                                                tabindex="0"
                                                style="cursor: pointer;">
                                            <img [src]="globalService.selectedRoom.images[0] || 'assets/images/default-room.jpg'"
                                                alt="Imagen de la habitación"
                                                class="responsive-image"/>
                                            </div>
                                            
                                            <!-- Miniaturas opcionales -->
                                            <div class="image-thumbnails" *ngIf="globalService.selectedRoom && globalService.selectedRoom.images.length > 1">
                                            <div *ngFor="let img of globalService.selectedRoom.images; let i = index" 
                                                class="thumbnail" 
                                                (click)="openLightbox(i)">
                                                <img [src]="img" alt="Miniatura {{i+1}}">
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <h3>Cargador de Imágenes de la habitación</h3>
                            <div class="custom-file-upload">
                                <div *ngIf="selectedImage" class="image-preview">
                                    <img [src]="selectedImagePrev" alt="Imagen seleccionada" class="img-thumbnail"
                                        style="border-radius: 10%; cursor: pointer; border: 5px solid #3ba5a8; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease, transform 0.3s ease; max-width: 150px; max-height: 150px;" />
                                </div>
                                <input #imageUpload id="imageUpload" type="file" (change)="onImageChange($event)" class="form-control"
                                        accept="image/*" style="display: none;" />
                                <label for="imageUpload" class="btn mb-2 me-2 btn-primary">
                                    <i class="fa fa-search me-2"></i>Seleccionar imagen
                                </label>
                                <button class="btn btn-success ms-2" (click)="addImage()" [disabled]="!selectedImage">
                                    <i class="fa fa-check me-2"></i>Agregar imagen
                                </button>
                                <div *ngIf="!selectedImage" class="text-danger">* Por favor, seleccione una imagen.</div>
                            </div>
                            
                            
                            <br>
                            <div *ngIf="globalService.selectedRoom && globalService.selectedRoom.images?.length" class="images-container">
                                <div class="image-item" *ngFor="let img of globalService.selectedRoom?.images; let i = index">
                                    <div class="image-wrapper">
                                        <img [src]="img" 
                                             alt="Imagen de la habitación" 
                                             class="img-thumbnail" 
                                             style="border-radius: 10px; cursor: pointer; border: 5px solid #3ba5a8; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease, transform 0.3s ease; max-width: 100%;" 
                                             (click)="openLightbox(i)" />
                                        <button class="delete-button" 
                                                (click)="confirmDelete(i, $event)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                    <div class="image-info">
                                        <span class="image-index">Imagen {{i + 1}}</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-1">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="margin: 0px 0px 0px 0px; padding: 10px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="tourmaster-room-title-item tourmaster-item-mglr tourmaster-item-pdb clearfix" style="padding-bottom: 35px;">
                                            <h3 class="tourmaster-room-title-item-title">
                                                <button class="nav-arrow" 
                                                        (click)="navigateRoom('prev')" 
                                                        [disabled]="isFirstRoom"
                                                        aria-label="Habitación anterior">
                                                  ‹
                                                </button>
                                                
                                                <span *ngIf="editingField !== 'number'; else editNumber" class="editable-field">
                                                    {{globalService.selectedRoom?.number}}
                                                    <span class="icon-actions" *ngIf="isLoggedIn">
                                                      <svg class="icon" viewBox="0 0 24 24" (click)="startEditing('number', globalService.selectedRoom?.number)">
                                                        <path stroke="currentColor" stroke-width="1.5" d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7M18.5 2.5a2.12 2.12 0 0 1 3 3L12 15l-4 1 1-4Z"/>
                                                      </svg>
                                                    </span>
                                                  </span>
                                                <ng-template #editNumber>
                                                  <input type="text" 
                                                         [(ngModel)]="tempValue"
                                                         (keyup.enter)="saveRoomField('number')"
                                                         (blur)="saveRoomField('number')"
                                                         autofocus
                                                         class="editable-input">
                                                  <div class="edit-controls">
                                                    <button (click)="saveRoomField('number')">💾</button>
                                                    <button (click)="cancelEditing()">❌</button>
                                                  </div>
                                                </ng-template>
                                              
                                                <button class="nav-arrow" 
                                                        (click)="navigateRoom('next')" 
                                                        [disabled]="isLastRoom"
                                                        aria-label="Siguiente habitación">
                                                  ›
                                                </button>
                                              </h3>
                                            <div class="tourmaster-room-title-item-caption">Características de la habitacion</div>
                                            <div class="tourmaster-room-title-price">
                                                <div class="tourmaster-head">
                                                    <span class="tourmaster-label">Precio</span>
                                                    <!-- <span class="tourmaster-price-discount">COP {{globalService.selectedRoom?.price+(0.20*globalService.selectedRoom?.price)}}</span> -->
                                                    <span class="tourmaster-price">
                                                        <span *ngIf="editingField !== 'price'; else editPrice" class="editable-field">
                                                            {{globalService.selectedRoom?.price | number: '1.0-0'}}
                                                            <span class="icon-actions" *ngIf="isLoggedIn">
                                                              <svg class="icon" viewBox="0 0 24 24" (click)="startEditing('price', globalService.selectedRoom?.price)">
                                                                <path stroke="currentColor" stroke-width="1.5" d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7M18.5 2.5a2.12 2.12 0 0 1 3 3L12 15l-4 1 1-4Z"/>
                                                              </svg>
                                                            </span>
                                                          </span>
                                                        <ng-template #editPrice>
                                                          <input type="number" [(ngModel)]="tempValue" 
                                                                 (keyup.enter)="saveRoomField('price')"
                                                                 (blur)="saveRoomField('price')" autofocus>
                                                          <button (click)="saveRoomField('price')">💾</button>
                                                          <button (click)="cancelEditing()">❌</button>
                                                        </ng-template>
                                                      </span>
                                                </div>
                                                <div class="tourmaster-tail">por noche</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"><div class="gdlr-core-divider-line gdlr-core-skin-divider"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" id="gdlr-core-column-2">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
                                            style="padding-bottom: 20px;"
                                        >
                                            <div class="gdlr-core-column-service-media gdlr-core-media-icon">
                                                <i class="gdlr-icon-double-bed2" style="font-size: 33px; line-height: 33px; width: 33px; color: #0a0a0a;"></i>
                                            </div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px; font-weight: 600; text-transform: none;">Camas  </h3>
                                                    <!-- <div class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 17px; font-weight: 500; font-style: normal; margin-top: 0px;">
                                                        1 Cama
                                                    </div> -->

                                                    <div class="tourmaster-info tourmaster-info-bed-type" *ngFor="let bed of globalService.selectedRoom?.beds">
                                                        <!-- <i class="gdlr-icon-double-bed2"></i> -->
                                                            <span class="tourmaster-tail"  style="cursor: pointer;">{{bed.quantity}} {{bed.type}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-3">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
                                            style="padding-bottom: 20px;"
                                        >
                                            <div class="gdlr-core-column-service-media gdlr-core-media-icon" style="margin-top: 0px; margin-right: 26px;">
                                                <i class="gdlr-icon-group" style="font-size: 40px; line-height: 40px; width: 40px; color: #0a0a0a;"></i>
                                            </div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px; font-weight: 600; text-transform: none;">Capacidad máxima</h3>
                                                    <div class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 17px; font-weight: 500; font-style: normal; margin-top: 0px;">
                                                        {{globalService.selectedRoom?.capacity}} Huéspedes
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"><div class="gdlr-core-pbf-column-content clearfix gdlr-core-js"></div></div>
                        </div>
                   
                 
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-6">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 10px 0px 0px 0px;">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 18px; text-transform: none;">
                                                <p>
                                                    <span *ngIf="editingField !== 'description'; else editDescription" class="editable-field">
                                                        {{globalService.selectedRoom?.description}}
                                                        <span class="icon-actions" *ngIf="isLoggedIn">
                                                          <svg class="icon" viewBox="0 0 24 24" (click)="startEditing('description', globalService.selectedRoom?.description)">
                                                            <path stroke="currentColor" stroke-width="1.5" d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7M18.5 2.5a2.12 2.12 0 0 1 3 3L12 15l-4 1 1-4Z"/>
                                                          </svg>
                                                        </span>
                                                      </span>
                                                  <ng-template #editDescription>
                                                    <textarea [(ngModel)]="tempValue"
                                                              (keyup.enter)="saveRoomField('description')"
                                                              (blur)="saveRoomField('description')"
                                                              rows="4"
                                                              autofocus></textarea>
                                                    <div class="edit-controls">
                                                      <button (click)="saveRoomField('description')">💾 Guardar</button>
                                                      <button (click)="cancelEditing()">❌ Cancelar</button>
                                                    </div>
                                                  </ng-template>
                                                </p>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-7">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="margin: 0px 0px 0px 0px; padding: 0px 0px 25px 0px;">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"><div class="gdlr-core-divider-line gdlr-core-skin-divider"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px;">
                                            <div class="gdlr-core-title-item-title-wrap">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title class-test" style="font-size: 25px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                    Comodidades<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-4">
                            <div
                                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                                style="margin: 0px 10px 20px 20px; padding: 25px 0px 0px 10px; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;"
                            >
                                <div
                                    class="gdlr-core-pbf-background-wrap"
                                    style="
                                        border-radius: 20px 20px 20px 20px;
                                        -moz-border-radius: 20px 20px 20px 20px;
                                        -webkit-border-radius: 20px 20px 20px 20px;
                                        border-width: 1px 1px 1px 1px;
                                        border-color: #e5e5e5;
                                        border-style: solid;
                                    "
                                ></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px;">
                                            <div class="gdlr-core-title-item-left-icon" style="margin: -12px 16px 0px 0px; font-size: 35px;"><i class="gdlr-icon-watch-tv" style="color: #1e1e1e;"></i></div>
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3
                                                        class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                                        style="font-size: 17px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #848484;"
                                                    >
                                                        TV<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                    </h3>
                                                    <p>Relájate y disfruta de tus programas favoritos después de un día explorando la ciudad.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-4">
                            <div
                                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                                style="margin: 0px 10px 20px 10px; padding: 25px 0px 0px 10px; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;"
                            >
                                <div
                                    class="gdlr-core-pbf-background-wrap"
                                    style="
                                        border-radius: 20px 20px 20px 20px;
                                        -moz-border-radius: 20px 20px 20px 20px;
                                        -webkit-border-radius: 20px 20px 20px 20px;
                                        border-width: 1px 1px 1px 1px;
                                        border-color: #e5e5e5;
                                        border-style: solid;
                                    "
                                ></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px;">
                                            <div class="gdlr-core-title-item-left-icon" style="margin: -12px 15px 0px 0px; font-size: 35px;"><i class="gdlr-icon-wifi-signal" style="color: #1e1e1e;"></i></div>
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3
                                                        class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                                        style="font-size: 17px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #848484;"
                                                    >
                                                        Wifi Gratuito<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                    </h3>
                                                    <p> Mantente conectado en todo momento. Disfruta de internet 24/7 en todas las habitaciones. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-4">
                            <div
                                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                                style="margin: 0px 10px 20px 20px; padding: 25px 0px 0px 10px; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;"
                            >
                                <div
                                    class="gdlr-core-pbf-background-wrap"
                                    style="
                                        border-radius: 20px 20px 20px 20px;
                                        -moz-border-radius: 20px 20px 20px 20px;
                                        -webkit-border-radius: 20px 20px 20px 20px;
                                        border-width: 1px 1px 1px 1px;
                                        border-color: #e5e5e5;
                                        border-style: solid;
                                    "
                                ></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px;">
                                            <div class="gdlr-core-title-item-left-icon" style="margin: -12px 16px 0px 0px; font-size: 35px;"><i class="gdlr-icon-shower" style="color: #1e1e1e;"></i></div>
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3
                                                        class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                                        style="font-size: 17px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #848484;"
                                                    >
                                                    Baños Privados<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                    </h3>
                                                    <p>La privacidad es una prioridad. Cada habitación cuenta con su propio baño para tu conveniencia.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-4">
                            <div
                                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                                style="margin: 0px 10px 20px 10px; padding: 25px 0px 0px 10px; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;"
                            >
                                <div
                                    class="gdlr-core-pbf-background-wrap"
                                    style="
                                        border-radius: 20px 20px 20px 20px;
                                        -moz-border-radius: 20px 20px 20px 20px;
                                        -webkit-border-radius: 20px 20px 20px 20px;
                                        border-width: 1px 1px 1px 1px;
                                        border-color: #e5e5e5;
                                        border-style: solid;
                                    "
                                ></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px;">
                                            <div class="gdlr-core-title-item-left-icon" style="margin: -12px 15px 0px 0px; font-size: 35px;"><i class="gdlr-icon-air-conditioner1" style="color: #1e1e1e;"></i></div>
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3
                                                        class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                                        style="font-size: 17px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #848484;"
                                                    >
                                                        Aire Acondicionado<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                    </h3>
                                                    <p>Disfruta de un ambiente agradable y fresco, especialmente diseñado para tu confort.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-4">
                            <div
                                class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                                style="margin: 0px 10px 20px 20px; padding: 25px 0px 0px 10px; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;"
                            >
                                <div
                                    class="gdlr-core-pbf-background-wrap"
                                    style="
                                        border-radius: 20px 20px 20px 20px;
                                        -moz-border-radius: 20px 20px 20px 20px;
                                        -webkit-border-radius: 20px 20px 20px 20px;
                                        border-width: 1px 1px 1px 1px;
                                        border-color: #e5e5e5;
                                        border-style: solid;
                                    "
                                ></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px;">
                                            <div class="gdlr-core-title-item-left-icon" style="margin: -12px 16px 0px 0px; font-size: 35px;"><i class="gdlr-icon-dish" style="color: #1e1e1e;"></i></div>
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3
                                                        class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                                        style="font-size: 17px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #848484;"
                                                    >
                                                        Cocina <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                    </h3>
                                                    <p>Pensado para preparar tus comidas.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-16">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="margin: 0px 0px 0px 0px; padding: 45px 0px 0px 0px;">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                               <app-additional-info></app-additional-info>
                                </div>
                            </div>
                        </div>

                      
                    </div>
                </div>
               <app-forms></app-forms>
            </div>
        </div>
        </div>
   
        
       
    </div>
  
</div>